<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" type="text/javascript"></script>
    </head>
<body>
    <div>
        <table id="table">
            <thead>
                <tr>
                {{ range .Header }}
                    <th>{{ . }}</th>
                {{ end }}
                </tr>
            </thead>
            <tbody>
                {{ range .Rows }}
                <tr>
                    {{range . }}
                        <td>
                            {{ . }}
                        </td>
                    {{ end }}
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready( function () {
            // $('#myTable').DataTable();

            $("#table").DataTable()
        });
    </script>
</body>
</html>